.password{
  margin: auto;
  margin-top: 10px;
  width: 80vw; 
  height: 100vh;
   background-color: rgb(0, 0, 0) ;
   border-radius:30px; 
   font-family: 'roboto'
}
.password h2{
  text-align: center;
   color:  orange;
   text-decoration: underline;
}
.password input{
  width: 60vw;
   height: 10vh ; 
   margin:auto; 
   text-align: center;
    font-size:30px;
}
.rangecontainer{
  margin: auto; 
  text-align: center;
}
.rangecontainer label {
  color: white;
}
.rangecontainer input{
  width: 25%;
}
.submit-button {
  margin:auto;
  text-align: center;
}
#generatebtn{
  width:30vw;
   padding: 5px; 
   font-size: 20px;
   border-radius: 30px;
}
#copybtn{
  width: 30vw; 
  padding: 5px ; 
  font-size: 20px; 
  border-radius: 30px;
}
@media only screen and (max-width: 768px) {
    .password {
      width: 90vw;
      height: 110vh;
    }
    .password input {
      width: 70vw;
      height: 5vh;
      font-size:15px;
    }
  
    .input-field {
      width: 80vw;
      height: 5vh;
      font-size: 24px;
    }
  
    .range-container {
      width: 80vw;
    }
  
    .form-range {
      width: 50%;
    }

  
    #generatebtn,
    #copybtn {
      width: 80vw;
      font-size: 18px;
    }
  }